<div class="container">

  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
  <% if  @user %>
    <h1>Welcome <%= @user.name  %>!</h1>
  <% else %>
    <h2>Current Users</h2>
    <% @all_users.each do |user| %>

      <p><%= user.name %></p>

    <% end %>
  <% end %>

</div>
